@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css');

.btn {
  display: inline-block;
  padding: 12px 36px;
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}

.mobile-select {
  display: none;
}

.gallery-tabs .btn-check:checked + .btn,
.gallery-tabs .btn.active,
.gallery-tabs .btn.show,
.gallery-tabs .btn:first-child:active,
.gallery-tabs :not(.btn-check) + .btn:active {
  border: 0;
  border-bottom: 2px solid var(--u_gold_color) !important;
  border-radius: 0;
}

.compliances-tabs btn-check:checked + .btn,
.compliances-tabs .btn.active,
.compliances-tabs .btn.show,
.compliances-tabs .btn:first-child:active,
.compliances-tabs :not(.btn-check) + .btn:active {
  background: var(--u_gold_color);
  color: white;
  border-radius: 4px;
}

.flats-plan-section btn-check:checked + .btn,
.flats-plan-section .btn.active,
.flats-plan-section .btn.show,
.flats-plan-section .btn:first-child:active,
.flats-plan-section :not(.btn-check) + .btn:active {
  border-bottom: 1px solid var(--u_gold_color) !important;
  border-radius: 0;
}

.tab-titles {
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}


.tab-links.active-link {
    border-bottom: 2px solid var(--u_gold_color);
}
