:root {
  --u_gold_color : #bda588;
  --u_base_color : #173e62;
  --u_light_text_color : #3f4448;
  --u_footer_color_bg : #262f39;
  --u_light_black : #66717A;
  --u_light_gray : #f7f2ee;
  --u_button_label_1 : #0077b9;
  --u_light_pink : #f7f2ec;
  --border-color-light-gray : #e1e1e1;
  --text-color-2 : #b0b9c1;
  --green-label : #28a745;
  --steel-blue-label : #17a2b8;
  --text-color-3 :#0d0d0d;
  --very-light-text : #bfbfbf;
  --dark-gold : #9b7548;
  --very-light-bg-color : #f5f6fa;
}